* {
    margin: 0;
    padding: 0;
    outline: none;
}

.header-base {
    display: flex;
    justify-content: center;
}

.header-base > h2 {
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    display: flex;
}

.create-form{
    display: flex;
    flex-direction: column;
}

.create-form > form > div {
    padding-top: 10px;
}
